[http]
	proxy = socks5://127.0.0.1:7890
[https]
	proxy = socks5://127.0.0.1:7890
[user]
	email = f2940015504@gmail.com
	name = Aromia
	singingkey = 3847BBE2017F39E2
[core]
    ignorecase = false
[commit]
    gpgsign = true
[credential "https://github.com"]
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/opt/homebrew/bin/gh auth git-credential
[init]
	defaultBranch = main
