[http]
	proxy = socks5://127.0.0.1:7890
[https]
	proxy = socks5://127.0.0.1:7890
[user]
	email = f2940015504@gmail.com
	name = Aromia
    signingkey = /Users/aromia/.ssh/aromia.pub
[core]
    ignorecase = false
[gpg]
    format = ssh
[commit]
    gpgsign = true
[credential "https://github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
[init]
	defaultBranch = main
